h1{
	font-size: 4rem;
	font-weight: 300;
	line-height: 5rem;
}
h2{
	font-size: 3rem;
	font-weight: 150;
}
h3{
	font-size: 3rem;
}
h6{
	font-size:2rem ;
}

h4{
	width: 5%;
	margin-left: 700px;
	size: 10px 20px;

}


p{
	font-size: 3rem;
	
}